
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'ADTAA/loginReg_style.css' %}" />

<div class="login-page">
    <div class="form" >
        <form class="login-form">
            <img src="/static/ADTAAlogo.png" style="width: 170px; length: 170px;" alt="ADTAAlogo"/>
            <input type="text" placeholder="Username"/>
            <input type="password" placeholder="Password"/>
            <button>Login</button>
            <p class="message">Not registered? <a href="http://127.0.0.1:8000/ADTAA/reg">Create an account</a></p>
            <img src="/static/logo.png" style="width: 60px; length: 60px;" alt="logo"/>
        </form>
    </div>
</div>