{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'ADTAA/loginReg_style.css' %}" />


<div class="reg-page">
    <div class="form">
        <form class="register-form">
            <h1>Add New Instructor</h1>
            <input type="instrID" placeholder="Instructor ID"/>
            <input type="instrName" placeholder="Last Name"/>
            <input type="maxLoad" placeholder="Maximum Load of Classes" />
            <input type="instrDiscipline" placeholder="Area of Discipline"/>
            <button>Add Instructor</button>
            <p class="message"><a href="http://127.0.0.1:8000/ADTAA/">Edit Instructor?</a>
        </form>
    </div>
</div>