{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'ADTAA/loginReg_style.css' %}" />

<div class="reg-page">
    <div class="form">
        <form class="register-form">
            <h1>Change Password</h1>
            <input type="text" placeholder="Username"/>
                  <input type="secQuestion1" placeholder="What primary school did you attend?"/>
            <input type="secQuestion2" placeholder="What is street did you live on as a child?"/>
            <button>Submit</button>
        </form>
    </div>
</div>