{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'ADTAA/loginReg_style.css' %}" />

<!DOCTYPE html>
<html lang="en">

<div id="navbar">
  <a href="#home"> <img src="/static/home.png" style="width: 20px; length: 20px;" alt="homeLogo"/></a>
  <a href="#regRequests">Registration Requests</a>
  <a href="#setupInstructors">Set Up Instructors</a>
    <a href="#setupClasses">Set Up Classes</a>
</div>

<div class="main">
  <p>Some text some text some text some text..</p>
</div>

<body>

</body>
</html>